<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yj.Mapper.SwiperMapper">
	 <select id="findrecomendById1" parameterType="Integer" resultType="yj.Po.Swiper">
	 	select * from swiper
	 </select>
	 <insert id="addrecomend1" parameterType="yj.Po.Swiper">
	 	insert into swiper (GOODS_ID,IMG_URL) values(#{GOODS_ID},#{IMG_URL})
	 </insert>
	 <update id="updaterecomend1" parameterType="yj.Po.Swiper">
	 	update swiper set 
 		GOODS_ID = #{GOODS_ID},
	 	IMG_URL = #{IMG_URL},
	 	where GOODS_ID=#{GOODS_ID}
	 </update>
	 <delete id="deleterecomend1" parameterType="yj.Po.Swiper">
	 	delete from swiper where GOODS_ID=#{GOODS_ID}
	 </delete>
</mapper>